# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.env
.env*

# React/Node
node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Root-level Node (if not used)
/package-lock.json
/package.json
